* {
    padding: 0;
    margin: 0;
    font-family: Arial;
	color: #FFF;
}

body {
    background: #1E90FF;
}

.center {
    /* width: 1200px; */
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #FFF;
}

div.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.card {
    display: flex;
	background-color: #282A35;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid;
    width: 180px;
	border-radius: 25px;
    margin-bottom: 20px;

}

div.card div.servidor {
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    px;
    text-align: center;
}

div.card div.ip {
    font-size: 20px;
    padding: 3px;
    text-align: center;
	color: yellow;
}

div.card div.status {
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

div.online {
   border-color: green;
   background: linear-gradient(0, green, #000000);
}

div.offline {
	border-color: red;
	background: linear-gradient(0, red, #000000);
	animation: blink 1s steps(1, end) infinite;}@keyframes blink {  0% {    opacity: 1;  }  50% {    opacity: 0;  }  100% {    opacity: 1;  }
}